  <!DOCTYPE html>
  <html><head><script>
  function subst() {
      var vars = {};
      var query_strings_from_url = document.location.search.substring(1).split('&');
      for (var query_string in query_strings_from_url) {
          if (query_strings_from_url.hasOwnProperty(query_string)) {
              var temp_var = query_strings_from_url[query_string].split('=', 2);
              vars[temp_var[0]] = decodeURI(temp_var[1]);
          }
      }
      var css_selector_classes = ['page', 'frompage', 'topage', 'webpage', 'section', 'subsection', 'date', 'isodate', 'time', 'title', 'doctitle', 'sitepage', 'sitepages'];
      for (var css_class in css_selector_classes) {
          if (css_selector_classes.hasOwnProperty(css_class)) {
              var element = document.getElementsByClassName(css_selector_classes[css_class]);
              for (var j = 0; j < element.length; ++j) {
                  element[j].textContent = vars[css_selector_classes[css_class]];
              }
          }
      }
  }
  </script></head>
  <body style="border:0; margin: 0;" onload="subst()">
  <p style='margin-top:.2pt;line-height:36pt'><span lang=EN-US style='font-size:8.0pt'><br/></span></p>

  <table width="100%" valign="bottom" cellpadding="7" cellspacing="0">
		<tr valign="top">
			<td width="24%" style="border: none; padding: 0cm"><p><font face="Calibri, serif"><font size="2" style="font-size: 11pt"><i>{{ current_date }}</i></font></font></p>
			</td>
			<td width="52%" style="border-top: 1px solid #000000; border-bottom: none; border-left: none; border-right: none; padding: 0cm"><p align="center">
				<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><i><b>Name
				&amp; Signature (Head of Department)</b></i></font></font></p>
			</td>
            <td width="8%"><p align="left" style="margin-bottom: 0cm; border-top: none; border-bottom: none;
                border-left: none; border-right: none; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm;
                padding-right: 0cm" width="40%"></p></td>
			<td width="16%" style="border: none; padding: 0cm"><p align="right" style="margin-bottom: 0cm; border-top: 1px solid #d9d9d9; border-bottom: none; border-left: none; border-right: none; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
				<span><i class="page"></i></span>
				<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><i>|
				</i><font color="#7f7f7f"><span style="letter-spacing: 3.0pt"><i>Page</i></span></font></font></font></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" width="100%" valign="top" style="border: none; padding: 0cm"><p style="border-top: 1px solid #d9d9d9; border-bottom: none; border-left: none; border-right: none; padding-top: 0.04cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
				<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><i>*
				Score obtained in previous sessions</i></font></font></p>
			</td>
		</tr>
	</table>

  </body></html>
