[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.1"
connexion = "==2.5.0"
swagger-ui-bundle = "==0.0.6"
flask-sqlalchemy = "==2.4.1"
marshmallow = "==3.3.0"
marshmallow-sqlalchemy = "==0.21.0"
flask-marshmallow = "==0.10.1"
bcrypt = "==3.1.7"
flask-bcrypt = "==0.7.1"
imgkit = "==1.0.2"
pdfkit = "==0.6.1"
num2words = "==0.5.10"
itsdangerous = "==1.1.0"
pytest = "*"
colorama = "*"

[requires]
python_version = "3.8"
